* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Eina-Regular";
  src: url("/fonts/Eina02-Regular.ttf");
}
@font-face {
  font-family: "Eina-SemiBold";
  src: url("/fonts/Eina02-SemiBold.ttf");
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Eina-Regular";
  background-color: #000;
}

.nav-bg-color {
  background-color: #030305;
  opacity: 0.9;
}

.get-crown-btn {
  text-decoration: none;
  background-color: #FF5841;
  padding: 0.5rem 0 0.5rem 1rem !important;
  border-radius: 0.8rem;
  color: #fff;
  font-family: "Eina-SemiBold";
  font-size: 1.7rem;
  transition: all 0.3s;
  margin-left: 1.7rem;
  width: 17rem;
  height: 4.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.get-crown-btn:hover {
  box-shadow: 0 0 1.2rem 0.1rem #FF5841;
}
.get-crown-btn .crown-txt {
  color: #fff;
  font-weight: 500;
}

header {
  min-height: 110vh;
  background: url("/img/banner.webp") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
header nav {
  min-height: 5vh;
  width: 100%;
  padding: 1.2rem 3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}
header nav .nav-logo {
  width: 20rem;
  height: 3.8rem;
  cursor: pointer;
}
header nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
}
header nav .nav-links .tech {
  margin-right: 1.7rem;
}
header nav .nav-links li {
  list-style-type: none;
  font-size: 1.8rem;
  cursor: pointer;
}
header nav .nav-links li:not(:last-child) {
  padding: 1.5rem 2.2rem;
}
header nav .nav-links li:hover:not(.get-crown-btn) {
  background-color: #131820;
  border-radius: 0.5rem;
}
header nav .nav-links li a {
  text-decoration: none;
  color: #6ED7DD;
}
header nav .nav-links li a:hover:not(.crown-txt) {
  background: -webkit-linear-gradient(left, #73E9F6, #0E77CA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .nav-links .arrow, header nav .nav-links span {
  font-size: 3rem;
  padding: 0.2rem 0 1rem 0.25rem;
}
@-moz-document url-prefix() {
  header nav .nav-links .arrow, header nav .nav-links span {
    font-size: 2.2rem;
    padding: 0.2rem 0 0.1rem 0.25rem;
  }
}
header nav .nav-links .get-crown-btn:hover .arrow span {
  padding: 0 0.1rem;
}
header nav .burger {
  display: none;
}
header nav .get-crown-li {
  display: none;
}
header nav .nav-logo-2, header nav .socials {
  display: none;
}

.hero {
  position: absolute;
  top: 21%;
  left: 5%;
  width: 100%;
  padding: 0 0 14.5rem 14.5rem;
}
.hero .hero-text {
  color: #fff;
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
.hero .hero-text .hero-header {
  font-family: "Eina-Regular";
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.3;
}
.hero .hero-text .crown-tm {
  font-family: "Eina-SemiBold";
  font-size: 8.9rem;
  font-weight: 900;
  width: 50rem;
  height: 10rem;
  padding-bottom: 10.5rem;
  letter-spacing: 0.5rem;
  display: flex;
  margin-left: 0;
  background: -webkit-linear-gradient(left, #73E9F6, #0E77CA 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero .hero-text .crown-tm .tm {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  letter-spacing: 0;
}
.hero .hero-text .hero-footer p {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #5B707A;
  padding: 1.5rem 0 3.5rem;
}
.hero .hero-text .hero-footer .get-crown-btn {
  width: 18rem;
  margin: 0;
}
.hero .hero-text .hero-footer .get-crown-btn .arrow, .hero .hero-text .hero-footer .get-crown-btn span {
  font-size: 3rem;
  padding: 0.5rem 0.5rem 1.1rem 0.25rem;
}
@-moz-document url-prefix() {
  .hero .hero-text .hero-footer .get-crown-btn .arrow, .hero .hero-text .hero-footer .get-crown-btn span {
    font-size: 3rem;
    padding: 1.1rem 0.5rem 1.1rem 0.25rem;
  }
}
.hero .hero-text .hero-footer .get-crown-btn .crown-txt {
  text-decoration: none;
}
.hero .hero-text .hero-footer .get-crown-btn:hover .arrow span {
  padding-right: 0.3rem;
  padding-left: 0.5rem;
  transition: all 0.8s;
}

.featured-container {
  width: 100%;
  text-align: center;
}
.featured-container .partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 1rem;
}
.featured-container .partners div {
  padding: 2rem 1.8rem;
}
.featured-container .partners div:not(:first-child :last-child) {
  margin-right: 2.2rem;
}
.featured-container .partners div:hover:not(:first-child) {
  background-color: #131820;
  border-radius: 0.5rem;
}
.featured-container .partners .featured p {
  color: #5B707A;
  font-size: 2.2rem;
  font-family: "Eina-Regular";
}
.featured-container .partners .forbes img {
  width: 9rem;
}
.featured-container .partners .ted img {
  width: 6rem;
}
.featured-container .partners .cheddar img {
  width: 11rem;
}
.featured-container .partners .tnw img {
  width: 9rem;
}
.featured-container .partners .verdict img {
  width: 11rem;
}

.cards {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 13rem 0;
}
.cards .card {
  background: #0C0F14;
  color: #fff;
  width: 31rem;
  padding: 2.5rem 2.3rem 3.6rem;
  text-align: left;
  border-radius: 1rem;
}
.cards .card:not(:last-child) {
  margin-right: 2.8rem;
}
.cards .card-head span img {
  width: 2.5rem;
  padding: 1rem 0;
}
.cards .card-head p {
  font-size: 2.2rem;
  padding: 1rem 0;
}
.cards .card-body p {
  font-size: 1.8rem;
  color: #8E9DA8;
  line-height: 1.8;
}

@media screen and (max-width: 1300px) {
  .hero {
    top: 22%;
    padding: 0 0 8rem 8rem;
  }
  .hero .hero-text .hero-header {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1460px) {
  .hero {
    left: 0%;
  }
}
@media screen and (max-width: 1025px) {
  nav {
    padding: 2rem 2.7rem !important;
    text-align: center;
  }
  nav .burger {
    display: block !important;
    cursor: pointer;
  }
  nav .burger span {
    padding: 0.1rem 1.1rem;
    background: #5B707A;
    margin: 0.4rem 0;
    display: block;
  }
  nav .nav-links {
    position: relative;
    background: #010203;
    width: 46%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    text-align: center;
    flex-direction: column;
    transition: transform 0.6s ease;
    opacity: 0.93;
  }
  nav .nav-links .nav-logo-2 {
    display: block !important;
    position: absolute;
    left: 6%;
    top: 4%;
    width: 14rem;
  }
  nav .nav-links .I {
    position: absolute;
    top: 19%;
    margin-left: 1.7rem;
  }
  nav .nav-links .II {
    position: absolute;
    top: 26%;
  }
  nav .nav-links .III {
    position: absolute;
    top: 33%;
  }
  nav .nav-links li a {
    color: #2AC7DC !important;
  }
  nav .nav-links li, nav .nav-links a:hover {
    background-color: #010203 !important;
  }
  nav .nav-links li:hover a, nav .nav-links a:hover:hover a {
    background: #2AC7DC !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  nav .nav-links .get-crown-li {
    display: block;
  }
  nav .nav-links .get-crown-btn {
    display: none;
  }
  nav .nav-links .socials {
    display: block;
    position: absolute;
    top: 83%;
  }
  nav .nav-links .socials a {
    padding: 0 1.1rem;
  }
  nav .nav-links .socials a img {
    width: 2rem;
  }
  nav .nav-open {
    transform: translateX(-100%);
  }
  nav .toggle .line1 {
    transform: rotateZ(45deg) translateY(430%);
  }
  nav .toggle .line2 {
    opacity: 0;
  }
  nav .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-430%);
  }
  .hero {
    top: 17%;
    left: 2.6%;
  }
}
@media screen and (max-width: 1024px) {
  .hero .hero-text {
    width: 60%;
  }
  .hero .hero-text .hero-header {
    font-size: 3.9rem !important;
    line-height: 1.3;
  }
  .hero .hero-text .crown-tm {
    font-size: 8.9rem;
    font-weight: 900;
    width: 50rem;
    height: 10rem;
    padding-bottom: 10.5rem;
    letter-spacing: 0.5rem;
  }
  .hero .hero-text .hero-footer {
    width: 40rem;
  }
  .hero .hero-text .hero-footer p {
    font-size: 2.2rem !important;
    line-height: 1.5 !important;
    padding: 2rem 0 2.6rem;
  }
  .hero .hero-text .hero-footer .get-crown-btn {
    width: 18rem;
    margin: 0;
  }
}
@media screen and (max-width: 1023px) {
  .hero .hero-text {
    width: 60%;
  }
  .hero .hero-text .hero-header {
    font-size: 3.8rem !important;
    line-height: 1.3;
  }
  .hero .hero-text .crown-tm {
    font-size: 6.5rem;
    font-weight: 900;
    width: 50rem;
    height: 10rem;
    padding-bottom: 0;
    letter-spacing: 0.5rem;
  }
  .hero .hero-text .hero-footer {
    width: 77%;
  }
  .hero .hero-text .hero-footer p {
    font-size: 2rem !important;
    line-height: 1.5;
    padding: 0 0 3rem;
  }
  .hero .hero-text .hero-footer .get-crown-btn {
    width: 18rem;
    margin: 0;
  }
  .hero .hero-text .hero-footer .get-crown-btn .arrow, .hero .hero-text .hero-footer .get-crown-btn span {
    font-size: 3rem;
    padding: 0.5rem 0.5rem 1.1rem 0.25rem;
  }
  .hero .hero-text .hero-footer .get-crown-btn .crown-txt {
    text-decoration: none;
  }
}
@media screen and (max-width: 950px) {
  .hero .hero-text {
    width: 60%;
  }
  .hero .hero-text .hero-header {
    font-size: 3.3rem !important;
    line-height: 1.3;
  }
  .hero .hero-text .hero-footer p {
    font-size: 2rem !important;
    line-height: 1.3;
    padding: 0 0 1.5rem;
  }
}
@media screen and (max-width: 831px) {
  header {
    background: url("/img/mobile-banner.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero {
    top: 80%;
    left: 3%;
    width: 100%;
    padding: 0 0 14.5rem 14.5rem;
  }
}