header{
        min-height:120vh;
        background: url('/img/banner.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    // position: fixed;
    // width: 100%;
    // top: 0;
    // left: 0;
    nav{
        min-height: 5vh;
        width: 100%;
        padding: 1.2rem 3rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 1;

        .nav-logo{
            width: 20rem;
            height: 3.8rem;
            cursor: pointer;
        }

        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 2rem;

            .tech{
                margin-right: 1.7rem;
            }

            li{
                list-style-type: none;
                font-size: 1.8rem;
                cursor: pointer;
                //color: #73EBF8;
                &:not(:last-child){
                    padding: 1.5rem 2.2rem;
                }
                &:hover:not(:last-child){
                    background-color: #131820;
                    border-radius: 0.5rem; 
                }
                a{
                    text-decoration: none;
                    //color: #57ABB5;
                    color: #6ED7DD;
                    //transition: all 1s ease-in;                

                    &:hover:not(.crown-txt){
                        background: -webkit-linear-gradient(left, #73E9F6, #0E77CA);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            .get-crown:hover .arrow span{
                padding: 0 0.1rem;
            }

            .arrow ,span{
                font-size: 3rem;
                padding: 0.2rem 0 1rem 0.25rem;
        
            }

        }

    }

    // $header1: calc(2rem + 1vw);
    // $header2: calc(3.5rem + 1vw);
    // $header3: calc(3rem + 1vw);
    // $header4: calc(2.4rem + 1vw);
    // $text: calc(1.5rem + 1vw);
    // $big: calc(6rem + 1vw);
}

// hero text
.hero {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 100%;
    padding: 0 0 15rem 15rem;
    //align-items: center;
    
    .hero-text{
        color: #fff;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 5rem;
        //text-align: center;

        //justify-content: flex-start;

        h1{
            font-family: 'Eina-Regular';
            font-size: calc(3.5rem + 1vw);;
            font-weight: 500;
            
        }
        .crown-tm{
            font-family: 'Eina-SemiBold';
            font-size: calc(6.5rem + 1vw);;
            font-weight: 900;
            width: 80rem;
            height: 10rem;
            padding-bottom: 3rem;
            background: -webkit-linear-gradient(left, #73E9F6, #0E77CA 45%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            //text-align: center;
            
            sup{
                font-size: 3.5rem;
                height: 3rem;
                //font-family: 'Eina-Regular';
                padding-bottom: 5rem;
                
            }
        }

        div{
            p{
                font-size: calc(.6rem + 1vw);
                line-height: 1.5;
                color: #52646E;
                padding: 2rem 0 3.5rem;
            }
            .get-crown{
                width: 18rem;
                margin: 0;
                
                .arrow, span{
                    font-size: 3rem;
                    padding: 0.1rem 0.5rem 1rem 0.25rem;
            
                }
                .crown-txt{
                    text-decoration: none;
                }

                &:hover .arrow span{
                    padding-right: 0.3rem;
                    padding-left: 0.5rem;
                    transition: all 0.8s;
                }
                
            }
        }
       
    }
}