@mixin firefox-nav-btn {
    @-moz-document url-prefix() {
        .arrow ,span{
        font-size: 2.2rem;
        padding: 0.2rem 0 0.1rem 0.25rem;
      }
    }
  }

  @mixin firefox-hero-btn {
    @-moz-document url-prefix() {
        .arrow, span{
            font-size: 3rem;
            padding: 1.1rem 0.5rem 1.1rem 0.25rem;
        }
    }
  }

  @mixin firefox-mobile-btn{
    @-moz-document url-prefix() {
        &-footer{
            .get-crown-btn{
                .arrow, span{
                    font-size: 3rem;
                    padding: 1.2rem 0.5rem 1.1rem 0.25rem !important;
                }
                &:hover .arrow span{
                    padding-right: 0.3rem !important;
                    padding-left: 0.5rem !important;
                }
            }
        }
    }
  }

  @mixin crown-btn{
    width: 18rem;
    margin: 0;
    .arrow, span{
        font-size: 3rem;
        padding: 0.5rem 0.5rem 1.1rem 0.25rem;
    }
    .crown-txt{
        text-decoration: none;
    }
    &:hover .arrow span{
        padding-right: 0.3rem;
        padding-left: 0.5rem;
        transition: all 0.8s;
    }
}

header{
        min-height:110vh;
        background: url('/img/banner.webp') center center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
    // position: fixed;
    // width: 100%;
    // top: 0;
    // left: 0;
    nav{
        min-height: 5vh;
        width: 100%;
        padding: 1.2rem 3rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 1;

        .nav-logo{
            width: 20rem;
            height: 3.8rem;
            cursor: pointer;
        }

        .nav-links{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 2rem;

            .tech{
                margin-right: 1.7rem;
            }

            li{
                list-style-type: none;
                font-size: 1.8rem;
                cursor: pointer;
                //color: #73EBF8;
                &:not(:last-child){
                    padding: 1.5rem 2.2rem;
                }
                &:hover:not(.get-crown-btn){
                    background-color: #131820;
                    border-radius: 0.5rem; 
                }
                a{
                    text-decoration: none;
                    //color: #57ABB5;
                    color: #6ED7DD;
                    //transition: all 1s ease-in;                

                    &:hover:not(.crown-txt){
                        background: -webkit-linear-gradient(left, #73E9F6, #0E77CA);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
            .arrow, span{
                font-size: 3rem;
                padding: 0.2rem 0 1rem 0.25rem;
            }
            @include firefox-nav-btn;

            .get-crown-btn:hover .arrow span{
                padding: 0 0.1rem;
            }
          
        }

        // NAV TOGGLE COMPONENETS
        .burger{
            display: none;
        }
        .get-crown-li{
            display: none;
        }
        .nav-logo-2,.socials{
            display: none;
        }
       

    }

}

// hero text
.hero {
    position: absolute;
    top: 21%;
    left: 5%;
    width: 100%;
    padding: 0 0 14.5rem 14.5rem;
    //align-items: center;
    
    .hero-text{
        color: #fff;
        width: 60%;
        display: flex;
        flex-direction: column;
        padding: 5rem;

        .hero-header{
            font-family: 'Eina-Regular';
            font-size: 5.6rem;
            font-weight: 500;
            line-height: 1.3;
        }
        .crown-tm{
            font-family: 'Eina-SemiBold';
            font-size: 8.9rem;
            font-weight: 900;
            width: 50rem;
            height: 10rem;
            padding-bottom: 10.5rem;
            letter-spacing: 0.5rem;
            display: flex;
            margin-left: 0;
            background: -webkit-linear-gradient(left, #73E9F6, #0E77CA 70%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
            
            .tm{
                font-size: 2.5rem;
                margin-top: 1.5rem;
                letter-spacing: 0;
            }
        }

        .hero-footer{
            p{
                //font-size: calc(1rem + 1vw);
                font-size: 2.4rem;
                line-height: 1.5;
                color: #5B707A;
                padding: 1.5rem 0 3.5rem;
            }
            .get-crown-btn{
                @include crown-btn;
                @include firefox-hero-btn;
            }
        }
    }
}


.featured-container{
    // width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 110rem;
    margin: 0 auto;
    padding: 1rem 4rem;
    //box-sizing: border-box;

    .partners{
        // margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem 1rem;

        div{
            padding: 2rem 1.8rem;

            &:not(:first-child :last-child){
                margin-right: 2.2rem;
            }
            &:hover:not(:first-child){
                background-color: #131820;
                border-radius: 0.5rem; 
            }
        }
        .featured p{
            color: #5B707A;
            font-size: 2.2rem;
            font-family: 'Eina-Regular';
            
        }
        .forbes{
            //padding: 2rem 2.5rem;
            img{
                width: 9rem;
            }
        } 
        .ted{
            //padding: 2rem 2.5rem;
            img{
                width: 6rem;
            }
        } 
        .cheddar{
            //padding: 2rem 2.5rem;
            img{
                width: 11rem;
            }
        }
        .tnw{
            //padding: 2rem 2.5rem;
            img{
                width: 9rem; 
            }
        }
        .verdict{
            //padding: 2rem 2.5rem;
            img{
                width: 11rem;
            }
        } 
    }
}


    .cards{
        width: 100%;
        display: flex;
        justify-content: center;
        //margin: 0 auto;
        padding: 13rem 0 3rem;
        .card{
            background: #0C0F14;
            color: #fff;
            width: 31rem;
            //height: 30rem;
            padding: 2.5rem 2.3rem 3.6rem;
            text-align: left;
            border-radius: 1rem;
            &:not(:last-child){
                margin-right: 2.8rem;
            }
            &-head{
                span img{
                    width: 2.5rem;
                    padding: 1rem 0;
                }
                p{
                    font-size: 2.2rem;
                    padding: 1rem 0;
                }
            }
            &-body{
                p{
                    font-size: 1.8rem;
                    color: #8E9DA8;
                    line-height: 1.8;
                }
            }
        }
    }


.cards-btn{
    width: 100%;
    //margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    
    
    .get-crown-btn{
        @include crown-btn;
        @include firefox-hero-btn;
        
    }
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    min-height: 20vh;
    //background-color: cyan;
    display: flex;
    align-items: center;
    //align-items: center;
    margin: 0 auto;
    .footer-btn{
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding-left: 15%;
        //padding-right: 15rem;
        //margin-top: ;
    
    .get-crown-btn{
        margin: 0 auto;
        margin-top: 8rem;
        width: 40rem;
        display: none;
    }

    .get-crown-btn a{
        text-decoration: none;
        //display: block;
        //float: left;
        }
    }

    .help{
        background-color: #000;
        height: 4.5rem;
        width: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        margin-right: 2.5%;
        margin-top: 9rem;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 3rem;
    
        //margin-bottom: 5rem;

        span{
            height: 4rem;
            position: relative;
            
            img{
                width: 2.2rem;
                margin-top: 0.8rem;
                margin-right: 0.7rem;
                position: absolute;
                right: 100%;
            }
            .help-link{
                color: #fff;
                font-family: 'Eina-SemiBold';
                font-size: 1.5rem;
                position: absolute;
                margin-top: 1rem;
                //margin-bottom: 4rem;
            }
        }
    }
}



