nav{
    min-height: 5vh;
    width: 100%;
    padding: 2rem 3rem;
    background-color: #070709;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    img{
        width: 20rem;
        height: 3.8rem;
        cursor: pointer;
    }

    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 2rem;

        li{
            list-style-type: none;
            font-size: 1.8rem;
            color: #73E9F6;
            //color: #73EBF8;
            &:not(:last-child){
                padding: 1rem 2.2rem;
            }

            &:hover{
                background-color: #131820;
                border-radius: 0.5rem;
                //padding: 1rem 2rem;
            }
        }

        .tech{
            margin-right: 1.7rem;
        }

        a{
            text-decoration: none;
            background-color: #FF5841;
            padding: 1.5rem 1.5rem;
            border-radius: 0.8rem;
            color: #fff;
            font-family: 'Eina-SemiBold';
            font-size: 1.7rem;
            transition: all 0.3s;
            margin-left: 1.7rem;

            &:hover{
                box-shadow: 0 0 1.2rem 0.1rem #FF5841;
            }

            span{
                width: 10rem;
                font-size: 3rem;
                align-items: center;
            }
        }
    }
}

.hero{
    min-height: 95vh;
    background: url(/img/banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-text-box{
        color: #fff;
    }
}